.badge-panel-div {
    height: 100%;
}

.badge-panel-header {
    margin: 0;
    padding: 0;
    background-color: #eb7676;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.badge-panel-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eb7676;
    display: flex;
    flex-direction: column;
}

.badge-panel-div li {
    height: 13.5%;
    display: block;
    padding-top: 5vh;
    padding-left: 5vh;
}

.kudos-div {
    bottom: 0;
    height: 15vh;
    background-color: rgb(77, 72, 72);
    color: white;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.kudos-title {
    text-decoration: underline;
}

.kudos-amount {
    font-size: 40px;
    padding-top: 2vh;
    text-decoration: none;
}
