@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.wrapper {
    display: flex;
    background: #4f4a4a;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    
}

.LoginUI {
    display: flex;
    margin-top: 15vh;
    margin-left: 19vw;
    width: 60vw;
    height: 70vh;
    border-radius: 1vw;
    -webkit-box-shadow: 0px 0px 13px -6px #000000;
    box-shadow: 0px 0px 13px -6px #000000;
    z-index: 10;
}

.LogInUILeft {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.90);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.GreetingLeft {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-span-1 {
    font-size: .8vw;
    text-transform: capitalize;
}

#form2 {
    display: none;
}

form {
    margin-top: 3vh;
    margin-left: 5.5vw;
}

form input {
    border-radius: 2vw;
    border-width: 0.15vw;
    border-color: lightgray;
    width: 19vw;
    height: 4.3vh;
    border-style: solid;
}

.EmailBox {
    margin-bottom: 1.5vh;
}

.login-input::placeholder {
    padding-left: 0.5vw;
    font-size: 1.5vh;
}

.PasswordBox {
    margin-bottom: 3vh;
}

.PasswordBox2 {
    margin-top: -1.5vh;
    margin-bottom: 6vh;
}


.LogInButton {
    width: 19vw;
    height: 4.3vh;
    border-radius: 2vw;
    border-width: 0px;
    -webkit-box-shadow: 0px 7px 13px -3px #000000;
    box-shadow: 0px 7px 13px -3px #000000;
    background-color: dimgray;
    color: white;
    transition: 0.3s;
    transition-property: all;
    font-size: 1vw;
}

.LogInButton:hover {
    background: crimson;
    text-decoration: none;
    color: white;
}

.left-span-1 {
    font-weight: bold;
}

.left-span-2 {
    width: 25vw;
    margin-left: 2.8vw;
    padding-top: 2vh;
    font-size: 1.7vw;
    font-weight: bold;
    color: crimson;
    margin-bottom: 7vh;
}

.left-span-3 {
    margin-left: 6vw;
    font-size: 0.7vw;
}

.LogInUIRight {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    width: 50%;
    background-color: rgba(44, 41, 41, 0.90);
}

.GreetingRight {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
}

.right-span-1 {
    padding-bottom: 1vh;
    font-size: 1.5vw;
}

.right-span-2 {
    padding-bottom: 6vh;
    margin-left: 2.5vw;
    font-size: 1.5vw;
    width: 25vw;
    text-align: center;
}

.line {
    padding-bottom: 5vh;
    margin-left: 3.5vw;
    width: 23vw;
}

.right-span-3 {
    margin-left: 5vw;
    width: 20vw;
    font-size: 1vw;
}

.switch-div {
    padding-top: 5vh;
    margin-left: 6vw;
}

.sign-up-text {
    padding-right: 0.2vw;
    color: black;
}

.sign-up-button {
    border: none;
    background-color: rgba(0, 0, 0, 0.00);
    color: crimson;
}

.sign-up-button:hover {
    color: black;
}

.invalid-login-text {
    font-size: 0.7vw;
    margin-left: -16.2vw;
    margin-top: 2.3vh;
    position: absolute;
    color: red;
}

.invalid-password-check {
    font-size: 0.9vw;
    position: absolute;
    margin-top: -4vh;
    color: red;
}