.kudos-modal-wrapper {
    width: 25vw;
    height: 70vh;
    background: #2e2e2e;
    z-index: 1;
    border-radius: 0.3vw;
    color: white;
}

.kudos-title-div p {
    
    color: white;
    height: 6vh;
    margin-top: 0.5vh;
}

.kudos-title-div {
    font-size: 3vh;
    width: 25vw;
    display: flex;
    height: 5vh;
    border-bottom: solid #262626;
    border-bottom-width: 3px;
    padding-left: 1vw;
    text-wrap: none;
    justify-content: space-between;
}

.kudos-close-modal-button {
    margin-top: 0.5vh;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.00);
    border: none;
    width: 2vw;
    height: 4vh;
}

.kudos-close-modal-button i {
    font-size: 1.7vw;
}

.kudos-close-modal-button:hover {
    color: crimson;
}

.kudos-modal-content {
    margin-top: 3vh;
    margin-left: 0;
    height: 80%;
    width: 100%;
    display: flex;
    background-color: #2e2e2e;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.send-kudos-form {
    width: 100%;
    display: flex;
    margin: 0;
}

.kudos-modal-form {
    background-color: #2e2e2e;
    width: 70%;
    margin-left: 2vw;
}

.kudos-modal-form p {
    font-size: 0.8vw;
}

.kudos-recipient-input-div {
    margin-top: 1vh;
    margin-bottom: 6vh;
    color: white;
}

.kudos-recipient-input {
    width: 20vw;
    color: white;
    background-color: #121212;
    border: solid;
    border-radius: 0;
    border-color: black;
    font-size: 2vh;
    font-size: 1vw;
}

.kudos-message-input-div input {
    color: white;
    height: 20vh;
    background-color: black;
}

.kudos-message-input {
    height: 20vh;
    width: 20vw;
    resize: none;
    color: white;
    background-color: #121212;
    border: solid;
    border-color: black;
    font-size: 1.5vh;
    font-size: 0.7vw;
}

.send-kudos-button {
    background-color: cornflowerblue;
    position: absolute;
    top: 90%;
    left: 8%;
    border-radius: 0.3vw;
    width: 20vw;
    height: 5vh;
    transition: 0.4s;
    transition-property: all;
    border: none;
    font-size: 1vw;
}

.send-kudos-button:hover {
    background-color: white;
    border-radius: 1vw;
    color: cornflowerblue;
}

.kudos-amount-input {
    background-color: #121212;
    color: white;
    width: 10vw;
    font-size: 2vh;
    padding-left: 0.5vw;
}