@media (min-width: 992px){
    .modal-lg{
        max-width: 1200px;
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 1200px;
        margin: 1.75rem auto;
    }
}

.modal{
    left:50%;
    margin-left:-600px;
}
.card-box{
    /* position: absolute;
    top: 20%;
    left: 50%;
    margin-left:-25%; 
    width: 1200px;*/
    width: 60vw;
    box-shadow: none;
}
img{
    width: 100px;
    height: 100px;
}

.img-box{
    display: flex;
    flex-direction: row;
    margin-top:50px;
}

.img-box-column{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-box-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:50px auto;
    text-align: center;
}

.font-box{
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
    justify-content: space-between;
}

.font-box div:nth-child(2){
    font-size: 50px;
}
.select-box{
    width: 300px;
}
.p-box{
    width: 900px;
    margin: 0 auto;
}
.p-box-canvas{
    border:1px solid gray;
    width: 900px;
    height: 500px;
}

#dis-img{
    display: none;
}

.img-box-btn{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mode3-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-modal{
    width: 1000px;
    height: 800px;
}
