.modal-print-content {
    margin-top: 3vh;
    margin-left: 10px;
    margin-right: 5px;
    height: 40%;
    width: 20%;
    padding: 10px;
    display: flex;
    /*background-color: #2e2e2e;*/
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    float: left;
}

.modal-print-content-form {
    width: 100%;
    display: flex;
    margin: 0;
    padding-left: 7%;
}

.modal-form-print a:hover {
    background-color: red;
    width: 100%;
}





/*


.modal-form-print label {
    position: relative;
    margin-left: 1vw;
    width: 5vw;
    height: 5vw;
    margin-top:30px; 
    margin-bottom:30px;
}

.modal-form-print a:hover {
    background-color: red;
}*/