.badge-img {
    border-radius: 10vw;
    width: 8vw;
    height: 8vw;
}

.message-date {
    font-size: 0.8vw;
    margin-left: 2vw;
    color: #979797
}

.message-title {
    font-size: 3vh;
    margin-left: 2vw;
}

.message-details {
    font-size: 1.2vw;
    margin-left: 2vw;
    border: solid 0.1vw;
    border-radius: 1vw;
    height: 40%;
    width: 40vw;
    font-style: italic;
    background-color: whitesmoke;
    color: rgb(40, 40, 40);
    padding-top: 0.5vh;
}

.message-card {
    padding-top: 4vh;
    padding-left: 1vw;
    height: 28vh;
    width: 60vw;
    border-bottom: solid 0.2vh rgba(88, 72, 72, 0.30);
}

.receiver {
}