.message-div {
}

.badge-img {
    width: 8vw;
    height: 8vw;
}

.message-date {
    font-size: 0.8vw;
    margin-left: 2vw;
}

.message-title {
    font-size: 2vw;
    margin-left: 2vw;
}

.message-details {
    font-size: 1.5vw;
    margin-left: 4vw;
}

.message-card {
    padding-top: 4vh;
    padding-left: 1vw;
    height: 25vh;
    border-bottom: solid 0.2vh rgba(88, 72, 72, 0.30);
    margin-bottom: 2vh;
    width: 60vw;
}

.receiver {
    text-decoration: underline;
}