.navbar-div {
    overflow: hidden;
    height: 100vh;
}

.navbar-div a {
    color: white;
    display: block;
    width: 100%;
    line-height: 7vh;
    text-decoration: none;
    padding-left: 10%;
    box-sizing: border-box;
    transition: 0.4s;
    transition-property: all;
    font-size: 1.05vw;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.navbar-div span{
    font-size: 1vw;
}

.navbar-div a:hover{
    background: crimson;
 }

.navbar-div i{
    padding-right: 1vw
}

.card-popup {
    width: 40vw;
    height: 40vh;
}

