.navbar-div {
    overflow: hidden;
    height: 100%;
}

.navbar-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 100%;
    border-right: solid;
    border-radius: px;
}

.navbar-div li {
    height: 12.4%;
    border-top: 1px solid rgb(0, 0, 0);
}

.navbar-div li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 5vh;
    text-decoration: none;
}

.navbar-div li a.active {
    background-color: #d6464d;
    color: rgb(255, 255, 255);
}

.navbar-div li a:hover:not(.active) {
    background-color: rgb(231, 74, 74);
    color: white;
}

.card-popup {
    width: 40vw;
    height: 40vh;
}
